@import "../../../styles/settings.scss";

.icons {
  position: sticky;
  height: 0;
  display: flex;
  justify-content: space-between;
  top: calc((120vh - 405px) / 2);
  transform: translateY(-50%);

  .icon {
    font-size: 40px;
    cursor: pointer;
    color: grey;

    &:hover {
      color: $primary;
    }

    &:first-of-type {
      margin-left: 100px;
    }

    &:last-of-type {
      margin-right: 100px;
    }
  }
}
