@import "../../../styles/settings.scss";

.brandsSection {
    position: relative;
    height: 120px;
    display: flex; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.brandsWrapper {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid $brands-color;
    border-bottom: 1px solid $brands-color;
}

.brandbutton {
        width: 35px;
        background-color: $text-color;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
}
