@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .oldPrice {
    margin-right: 8px;
    text-decoration: line-through;
    color: $header-topbar-bg;
    opacity: 0.5;
  }
}