@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
}

.section {
  display: flex;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .oldPrice {
    margin-right: 8px;
    text-decoration: line-through;
    color: $header-topbar-bg;
    opacity: 0.5;
  }

}

.titleSection {
  display: flex;
  justify-content: space-between;
}

.iconTransparent {
    background-color: #fff;
    border: 1px solid $product-page-gray;
    color: black;
    margin-right: 3px;
}

.productQuantity {
  width: 65px;
  padding-top: 2px;
  text-align: center;
}