@import '../../../styles/settings.scss';


.buttonChat {
  background-color: $primary;
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
  &:hover {
    cursor: pointer;
    background-color: $projectGoldDark;
  }

  &.active {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

}
.chat {
  position: fixed;
  bottom: 0;
  left: 25px;
  
  &.active {
    bottom: 0;
    left: 0;
  }

  .chatBox {
    max-height: 0;
    overflow: hidden;
    background-color: white;
  }

  .fullChatBox {
    width: 300px;
    background-color: white;
    text-align: center;
    overflow: auto;
    bottom: 0;
  }

  .chatBoxContainer {
    min-height: 500px;
    background-color: $veryLightGray;
    position: relative;
  }

  .chatContainer {
    max-height: 500px;
    width: 100%;
    position: absolute;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    li {
      background-color: white;
      width: 90%;
      border-radius: 5px;
      margin: 5px 0;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    }
  }

  .message {
    display: flex;
    justify-content: space-between;

    a {
      width: 100%;
      background-color: $primary;

      &:hover {
        background-color: $projectGoldDark;

      }
    }
  }
}
