@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;
  
  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      &:hover {
        color: $primary;
      }
    }  
    

    ul {
      background-color: transparent !important;
      cursor: pointer;
      padding: 15px 30px 5px 35px;
      position: relative;
      display: block;
      height: 35px;
      font-size: 14px;

      div {
        padding-bottom: 10px;
      }


      li {
        display: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        padding: 1px 0px 1px 7px;

      &:hover {
        background-color: orange;
      }
    }

    &:hover li {
      display: block;
      }
    }
  

    option {
      font-size: 14px;
      display: block;
      height: 35px;
      font-size: 14px;

      div {
        padding-bottom: 10px;
      }
    

      li { 
        display: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        padding: 1px 0px 1px 7px;
      }

      &:hover { 
        background-color: orange;
      }
    

    &:hover li {
      display: block;
    }

    &:hover li { 
      display: block;
    }

      @media (max-width: 600px) {
        font-size: 11px;
        width: 163px;
      }  
    }    
  }    
    
  
  

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      opacity: 0.5;

      &::placeholder { 
        color: $text-color;
      }

      @media (max-width: 600px) {
        font-size: 11px;
        width: 110px;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
      :hover { 
        color: $primary;
      }  
    }    
  }          
}
