@import "../../../styles/settings.scss";

.root {
    margin: 20px 0px 0px 20px;
}

.imageGroup {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.photo {
    height: 240px;
    width: 355px;
}

.blogPostSubsection {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    background-color: $blog-white;
    display: flex;
    justify-content: space-between;
    width: 300px;
    p {
        font-size: 10px;
    }
}

.iconSection {
    display: flex;
    color: $banner-bottom;
    font-weight: bold;
    padding: 20px 25px 0px 20px;
    p {
        padding-left: 5px;
    }
}

.iconSectionWrapper {
    margin: 0 auto;
    width: 272px;
}

.blogTitle {
    font-size: 13px;
    font-weight: bold;
    max-width: 290px;
    margin: 0 auto;
    padding: 12px 0;

}

.blogActiveTitle {
    color: $login-main-dark;
    font-size: 13px;
    font-weight: bold;
    max-width: 290px;
    margin: 0 auto;
    padding: 12px 0;
}

.blogParagraph {
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    max-width: 290px;
    margin: 0 auto;
    color: $banner-bottom;
}

.buttonMainBlog {
    width: 300px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;

    .button {
        margin: 0 auto;
        background-color: black; 
        border: none;
        color: $blog-white;
        padding: 4px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

   .buttonActive { 
        margin: 0 auto;
        background-color: $login-main-dark;
        border: none;
        color: $blog-white;
        padding: 4px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
   }
    
}