@import "../../../styles/settings.scss";

.registerBox {
  position: relative;
  height: 1000px;
}

.innerBox {
  position: absolute;
  width: 540px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
