@import "../../../styles/settings.scss";

.root {
  padding: 20px 0;
  margin-bottom: 50px;

  .topPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f6fa;
    padding: 25px 0;

    h3 {
      margin: 0;
      margin-left: 100px;
      color: black;
    }

    .rightPage {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 100px;
      width: 5%;
      font-size: 13px;

      .icon {
        color: black;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .cart {
    width: 80%;
    margin: 50px auto;

    table {
      border-bottom: 1px solid #dcdde1;
      margin-bottom: 0;
      border-right: 1px solid #dcdde1;
      border-left: 1px solid #dcdde1;
    }

    .tableBanner {
      background-color: #f5f6fa;

      th {
        border: none;
        font-size: 15px;
        color: black;
      }
    }

    .product {
      display: flex;
      align-items: center;
      padding: 20px;
      font-size: 14px;
      color: black;
      font-weight: normal;

      .remove {
        width: 25px;
        height: 25px;
        line-height: 25px;
        padding: 5px;
        border: solid 1px #dcdde1;
        color: #dcdde1;
        border-radius: 50%;
        margin-right: 50px;

        &:hover {
          cursor: pointer;
        }
      }

      .productImage {
        background-color: #dcdde1;
        width: 60px;
        height: 60px;
        margin-right: 80px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    td {
      padding: 20px;
      padding-right: 40px;
      color: $projectGoldDark;
      font-size: 14px;

      .quantity {
        width: 107.2px;
        display: flex;

        .button1,
        .button2 {
          border: solid 1px #dcdde1;
          margin: 0;

          &:hover {
            background-color: $orange;
            text-decoration: none;
          }
        }

        .number {
          border-top: solid 1px #dcdde1;
          border-bottom: solid 1px #dcdde1;

          input {
            border: none;
            height: 33.6px;
            width: 44px;
          }
        }
      }
    }

    .couponCode {
      display: flex;
      align-items: center;
      border-right: solid 1px #dcdde1;
      border-left: solid 1px #dcdde1;
      border-bottom: solid 1px #dcdde1;
      padding: 20px 0;

      input {
        margin: 0 5px;
        height: 29px;
        border: none;
        font-size: 14px;
        width: 18%;
        color: black;
        border: solid 1px #dcdde1;
        border-radius: 3px;
        outline: none;
      }

      .code,
      .update {
        background-color: $orange;
        padding: 5px 30px;

        &:hover {
          background-color: $projectGoldLight;
        }
      }

      .update {
        margin-left: 55%;
      }
    }
  }

  .cartTotals {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 45%;
    border: solid 1px #dcdde1;
    border-left: 1px solid #dcdde1;

    h3 {
      background-color: #f5f6fa;
      text-align: center;
      padding: 15px 0;
      border-bottom: solid 1px #dcdde1;
      font-size: 15px;
      font-weight: bolder;
      color: black;
    }

    .subtotal,
    .total {
      margin: 0 30px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px #dcdde1;

      h5,
      p {
        font-size: 14px;
        margin-bottom: 0;
        color: black;
      }

      p {
        padding: 10px 0 10px 10px;
        border-left: solid 1px #dcdde1;
        margin-right: 50%;
        color: $projectGoldDark;
      }
    }

    .checkout {
      margin: 10px 25px;
      padding: 10px;
      text-align: center;
      background-color: $orange;
      color: white;
      font-size: 14px;

      &:hover {
        text-decoration: none;
        background-color: $projectGoldLight;
      }
    }
  }
}
